$color_1: #222222;
$color_2: #1f7a54;
$color_3: #6e6e6e;
$color_4: #56c57b;
$color_5: red;
$color_6: white;
$color_7: black;
$color_8: #333;
$color_9: rgb(119, 119, 119);
$color_10: #1f6637;
$color_11: #3fd28b;
$font-family_1: quicksand;
$background-color_1: rgb(221, 217, 217);
$background-color_2: rgba(62, 83, 99, 0.942);
$background-color_3: #ffffff;
$background-color_4: rgb(12, 170, 227);
$background-color_5: rgba(238, 192, 181, 0.992);
$background-color_6: #7cda7f;
$background-color_7: #fff;
$background-color_8: transparent;
$background-color_9: rgb(189, 189, 189);
$background-color_10: #f3f3f3cc;
$background-color_11: rgb(196, 193, 193);
$background-color_12: white;
$background-color_13: #eeeeee;

@font-face {
	font-family: quicksand;
	src: url(../Quicksand-VariableFont_wght.ttf);
}
/* .alert-noti:hover + .notify {
    display: none;
  } */
/* .announcements {
    display: none;
  } */
/* .c-div{
    width: 1px;
  height: 20px;
  background-color: rgb(189, 189, 189);
  margin: 0 5px;
} */
/* .alert-noti:hover + .notify {
    display: none;
  } */
/* .announcement-noti:hover + .notify1 {
    display: none;
  } */
/* .files .date {
    position: relative;
    top: 1px;
    right: 6px;
  } */
/* Make the dashboard-menu icon white on hover */
/* Styles for .dropdown-menu */
/* @keyframes dropdownFadeIn {
  from {
    opacity: 0;
    transform: translateY(-10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
} */
/* Styles for sub-menu items */
/* Show sub-menu when its parent is clicked*/
/* Show .dropdown-menu on Hover of Hamburgur Icon */
body {
	background-color: $background-color_1;
	font-family: $font-family_1;
	box-sizing: border-box;
}
.header {
	background-image: url("../assets1/quantum screen assets/header pattern svg.svg");
	background-color: $background-color_2;
	padding: 8px 8px 8px 20px;
	background-blend-mode: multiply;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	z-index: 10;
	display: flex;
}
.notifications {
	display: none;
	display: none;
	display: block;
	width: 354px;
	height: 530px;
	position: absolute;
	top: 49px;
	left: 249px;
	background: #ffffff;
	box-shadow: 0px 13px 20px #0000003d;
	border-radius: 2px;
	opacity: 1;
	overflow-y: scroll;
}
.alert-noti {
	&:hover {
		+ {
			.notifications {
				display: block;
			}
		}
		filter: brightness(0) invert(1);
	}
}
.scrollbar {
	position: absolute;
	top: -1px;
	left: 349px;
	width: 4px;
	height: 414px;
	background: #000000;
	border-radius: 6px;
	opacity: 0.38;
}
.expand-notification {
	width: 354px;
	height: 48px;
	position: fixed;
	top: 535px;
	left: 248px;
	background: #ffffff;
	box-shadow: 0px 1px 6px #0000003d;
	border-radius: 0px 0px 2px 2px;
	opacity: 1;
}
.noti-card {
	.c-divider {
		margin-top: 16px;
	}
	width: 343px;
	height: 100px;
	background: #ffffee;
	opacity: 1;
	text-align: left;
	padding-top: 11px;
	padding-right: 10px;
	z-index: 100;
}
.alert {
	font-weight: bold;
	font-size: 14px;
	letter-spacing: 0px;
	color: $color_1;
	margin: 10px;
}
.alert-course {
	text-align: left;
	font-size: 12px;
	opacity: 1;
	margin-bottom: 2px;
}
.dnd {
	position: relative;
	top: -46px;
	left: 318px;
	width: 18px;
	height: 18px;
	color: $color_2;
	filter: invert(44%) sepia(94%) saturate(1028%) hue-rotate(95deg) brightness(104%) contrast(101%);
}
.check {
	filter: invert(44%) sepia(94%) saturate(1028%) hue-rotate(95deg) brightness(104%) contrast(101%);
	position: relative;
	margin-left: 5px;
	top: -46px;
	left: 318px;
	width: 18px;
	height: 18px;
	color: $color_2;
}
.open {
	background-color: $background-color_3;
	width: 343px;
	height: 109px;
	text-align: left;
	opacity: 1;
}
.date {
	width: 134px;
	height: 15px;
	font-size: 12px;
	letter-spacing: 0px;
	color: $color_3;
	text-align: right;
	margin-left: 53%;
}
.announcements {
	display: block;
	width: 354px;
	height: 530px;
	position: absolute;
	top: 49px;
	left: 307px;
	background: #ffffff;
	box-shadow: 0px 13px 20px #0000003d;
	border-radius: 2px;
	opacity: 1;
	overflow-y: scroll;
}
.announcement-noti {
	&:hover {
		+ {
			.announcements {
				display: block;
			}
			.notify1 {
				display: none;
			}
		}
		filter: brightness(0) invert(1);
	}
}
.announce-card {
	.date {
		position: relative;
		top: -19px;
		right: -20px;
	}
	width: 343px;
	height: 111px;
	background: #ffffee;
	opacity: 1;
	text-align: left;
	padding-right: 10px;
	z-index: 100;
}
.openn {
	background-color: $background-color_3;
	width: 343px;
	height: 111px;
	text-align: left;
	opacity: 1;
}
.files {
	font-size: 12px;
	letter-spacing: 0px;
	color: $color_1;
	margin: 10px;
	position: relative;
	top: 1px;
	right: 24px;
}
.instructor {
	font-size: 12px;
	letter-spacing: 0px;
	color: $color_1;
	margin: 10px;
	margin-top: 15px;
}
.paperclip {
	position: relative;
	top: 7px;
	right: -2px;
	width: 14px;
	height: 20px;
}
.an-btn {
	display: flex;
	flex-direction: row;
	width: 354px;
	height: 48px;
	position: fixed;
	top: 535px;
	left: 305px;
	background: #ffffff;
	box-shadow: 2px 5px #888888;
	border-radius: 0px 0px 2px 2px;
	opacity: 1;
	z-index: 101;
}
.create-announce {
	letter-spacing: -0.35px;
	background-color: $background-color_3;
	color: $color_2;
	width: 50%;
	border: none;
	text-transform: uppercase;
}
.expand-announce {
	letter-spacing: -0.35px;
	text-transform: uppercase;
	border: none;
	background-color: $background-color_3;
	color: $color_2;
	width: 50%;
}
.part {
	position: absolute;
	top: 15px;
	left: 170px;
}
.h-logo {
	width: 30%;
	margin-right: 30%;
	align-self: center;
}
.hamburger-menu {
	display: none;
}
.menu {
	display: none;
}
.nav-bar {
	display: block;
	margin-left: 40%;
	margin-bottom: 30%;
	align-self: center;
}
.nav-ele {
	margin-bottom: 30%;
	text-decoration: none;
	color: $color_4;
	font-weight: 500;
	text-transform: uppercase;
	justify-content: flex-end;
	padding: 5px;
	align-self: center;
	position: relative;
	top: -11px;
}
.notify {
	background-color: $background-color_4;
	border: none;
	border-radius: 10px;
	position: absolute;
	top: 10px;
	right: 145px;
}
.notify1 {
	background-color: $background-color_4;
	border: none;
	border-radius: 10px;
	position: absolute;
	top: 10px;
	right: 94px;
}
.notify2 {
	background-color: $background-color_4;
	border: none;
	border-radius: 10px;
	position: absolute;
	top: 10px;
	right: 52px;
}
.badge {
	background-color: $background-color_5;
	border: none;
	color: $color_5;
	border-radius: 3px;
	position: fixed;
	left: 771px;
	text-transform: uppercase;
}
.navbar {
	.active {
		color: $color_6;
	}
}
.spant {
	position: relative;
	top: -5px;
}
.nav-svg {
	padding: 10px;
}
.main {
	margin: 15px;
}
.titles {
	margin: 15px;
	margin-top: 100px;
	color: $color_7;
	display: flex;
	flex-direction: row;
}
.title {
	background-color: $background-color_6;
	text-align: center;
	padding: 10px;
	font-weight: 500;
}
.line {
	position: absolute;
	top: 62px;
	left: 917px;
	width: 102px;
	height: 3px;
	background-color: $background-color_7;
}
.active-t {
	box-shadow: 0px -4px 0px black inset;
}
.classes {
	width: 50%;
}
.courses {
	width: 50%;
}
.filter {
	margin: 15px;
	color: $color_7;
	display: flex;
	flex-direction: row;
}
.sort {
	margin-left: 30%;
}
.custom-select {
	border-bottom: 2px solid #ccc;
}
.s1 {
	width: 250px;
	border-bottom: 2px solid #ccc;
}
select {
	appearance: none;
	background-color: $background-color_8;
	border: none;
	padding: 10px 25px 5px 0px;
	font-size: 16px;
	color: $color_8;
	margin-left: 2px;
	font-weight: 600;
	align-self: flex-end;
}
.text {
	width: 50%;
}
.c-divider {
	width: 100%;
	height: 1px;
	background-color: $background-color_9;
}
.cards {
	margin-top: 10px;
	background-color: $background-color_7;
	margin: 5px;
	width: 700px;
	height: 288px;
	border-radius: 3px;
	margin-right: 10px;
}
.card-section {
	display: flex;
	flex-direction: row;
}
.card {
	display: flex;
	flex-direction: row;
	margin: 15px;
	margin-top: 15px;
}
.c-ele {
	p {
		margin: 0px 5px;
	}
	display: flex;
	margin: 3px;
	font-size: medium;
	margin-bottom: 10px;
	margin-top: 7px;
}
.card-image {
	margin-top: 15px;
	margin-right: 15px;
	width: 150px;
	height: 185px;
}
.content {
	padding: 10px;
	margin: 5px;
	width: 300px;
	height: 190px;
}
.counts {
	margin: 3px;
	font-size: medium;
}
.icons {
	img {
		margin: 15px 65px;
	}
}
.fav {
	position: relative;
	top: 4px;
	left: 326px;
}
.fav1 {
	position: relative;
	top: -40px;
	left: 439px;
}
.fav2 {
	position: relative;
	top: -17px;
	left: 441px;
}
.fav3 {
	position: relative;
	top: -12px;
	left: 326px;
}
.disabled {
	opacity: 30%;
}
.left {
	margin-left: 30px;
}
footer {
	background-color: $background-color_11;
	padding: 10px;
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	color: $color_9;
	display: flex;
	justify-content: center;
	img {
		height: auto;
		margin-right: 10px;
	}
	div {
		display: flex;
		align-items: center;
	}
}
.footer-content {
	display: flex;
	align-items: center;
}
.footer-divider {
	width: 1px;
	height: 20px;
	background-color: $background-color_9;
	margin: 12px 10px;
}
.navigate {
	margin-top: 0px;
	margin-bottom: 60px;
	display: flex;
	justify-content: center;
	color: $color_10;
	font-weight: 500;
}
.dashboard-menu {
	height: 36px;
	width: 36px;
	cursor: pointer;
	&:hover {
		filter: brightness(0) invert(1);
	}
	&:active {
		filter: brightness(0) invert(1);
	}
}
.dropdown-menu {
	display: none;
	position: absolute;
	top: 63px;
	right: 0;
	background-color: $background-color_12;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	z-index: 100;
	width: 350px;
	margin-right: 32px;
	ul {
		list-style: none;
		padding: 0;
		margin: 0;
	}
	li {
		display: flex;
		padding: 10px;
		padding-left: 15px;
		align-items: center;
		justify-content: space-between;
		padding-right: 20px;
		color: $color_11;
		position: relative;
		&:last-child {
			border-bottom: none;
		}
	}
}
.sub-menu {
	li {
		display: flex;
		padding: 10px;
		padding-left: 15px;
		align-items: center;
		justify-content: space-between;
		padding-right: 20px;
		color: $color_11;
		position: relative;
		align-items: center;
		justify-content: space-between;
		background-color: $background-color_13;
		color: $color_11;
		width: 100%;
		padding-left: 10px;
		padding-right: 0px;
		padding-top: 30px;
		&:last-child {
			border-bottom: none;
		}
	}
	display: none;
	list-style: none;
	text-transform: uppercase;
	background-color: $background-color_13;
	width: 100%;
}
.arrow-icon {
	img {
		height: 20px;
		width: 20px;
		filter: invert(44%) sepia(94%) saturate(1028%) hue-rotate(95deg) brightness(104%) contrast(101%);
	}
}
.expandable {
	cursor: pointer;
	position: absolute;
	display: flex;
	flex-direction: column;
	&:hover {
		background-color: $background-color_13;
		+ {
			.arrow-icon {
				transform: rotate(180deg);
			}
			.sub-menu {
				display: flex;
				background-color: $background-color_12;
				z-index: 100;
				width: 100%;
				flex-flow: column;
			}
		}
	}
	.arrow-icon {
		margin-left: 8px;
		width: 12px;
		height: 12px;
	}
}
.expandable__title {
	display: flex;
	align-items: center;
	justify-content: space-between;
	width: 100%;
}
.hamburgur-icon {
	&:hover {
		+ {
			.dropdown-menu {
				display: block;
				display: block;
			}
		}
	}
	&:active {
		.dropdown-menu {
			display: block;
		}
	}
}
@media screen and (max-width: 768px) {
	body {
		overflow-x: visible;
		box-sizing: border-box;
	}
	.nav-ele {
		display: none;
	}
	.header {
		padding: 4px 4px 4px 10px;
		display: inline;
		height: 40px;
	}
	.nav-bar {
		display: block;
		margin-left: 10%;
		margin-bottom: 30%;
		align-self: center;
	}
	.h-logo {
		width: 10px;
		object-fit: contain;
		padding: 5px;
	}
	.nav-svg {
		margin-left: 11px;
		position: relative;
		top: -51px;
		right: -545px;
		padding: 6px;
	}
	.notify {
		background-color: $background-color_4;
		border: none;
		border-radius: 10px;
		position: absolute;
		top: 5px;
		right: 165px;
	}
	.notify1 {
		background-color: $background-color_4;
		border: none;
		border-radius: 10px;
		position: absolute;
		top: 5px;
		right: 108px;
	}
	.notify2 {
		background-color: $background-color_4;
		border: none;
		border-radius: 10px;
		position: absolute;
		top: 2px;
		right: 65px;
	}
	.sort {
		margin-left: 15%;
	}
	.notifications {
		display: none;
		width: 354px;
		height: 530px;
		position: absolute;
		top: 49px;
		left: 249px;
		background: #ffffff;
		box-shadow: 0px 13px 20px #0000003d;
		border-radius: 2px;
		opacity: 1;
		overflow-y: scroll;
	}
	.alert-noti {
		&:hover {
			+ {
				.notifications {
					display: block;
				}
			}
			filter: brightness(0) invert(1);
		}
	}
	.scrollbar {
		position: absolute;
		top: -1px;
		left: 349px;
		width: 4px;
		height: 414px;
		background: #000000;
		border-radius: 6px;
		opacity: 0.38;
	}
	.expand-notification {
		width: 354px;
		height: 48px;
		position: fixed;
		top: 535px;
		left: 248px;
		background: #ffffff;
		box-shadow: 0px 1px 6px #0000003d;
		border-radius: 0px 0px 2px 2px;
		opacity: 1;
	}
	.noti-card {
		.c-divider {
			margin-top: 16px;
		}
		width: 343px;
		height: 91px;
		background: #ffffee;
		opacity: 1;
		text-align: left;
		padding-top: 11px;
		padding-right: 10px;
		background-blend-mode: multiply;
		background-size: auto;
	}
	.alert {
		font-weight: bold;
		font-size: 14px;
		letter-spacing: 0px;
		color: $color_1;
		margin: 10px;
	}
	.alert-course {
		text-align: left;
		font-size: 12px;
		opacity: 1;
		margin-bottom: 2px;
	}
	.dnd {
		position: relative;
		top: -19px;
		left: 328px;
		width: 18px;
		height: 18px;
		color: $color_2;
		filter: invert(44%) sepia(94%) saturate(1028%) hue-rotate(95deg) brightness(104%) contrast(101%);
	}
	.check {
		filter: invert(44%) sepia(94%) saturate(1028%) hue-rotate(95deg) brightness(104%) contrast(101%);
		position: relative;
		margin-left: 5px;
		top: -14px;
		left: 322px;
		width: 18px;
		height: 18px;
		color: $color_2;
	}
	.open {
		background-color: $background-color_3;
		width: 343px;
		height: 109px;
		text-align: left;
		opacity: 1;
	}
	.date {
		width: 134px;
		height: 15px;
		font-size: 12px;
		letter-spacing: 0px;
		color: $color_3;
		text-align: right;
		margin-left: 53%;
		position: relative;
		top: -14px;
		right: -230px;
	}
	.announcements {
		display: none;
		width: 354px;
		height: 530px;
		position: absolute;
		top: 49px;
		left: 307px;
		background: #ffffff;
		box-shadow: 0px 13px 20px #0000003d;
		border-radius: 2px;
		opacity: 1;
		overflow-y: scroll;
	}
	.announcement-noti {
		&:hover {
			+ {
				.announcements {
					display: block;
				}
			}
			filter: brightness(0) invert(1);
		}
	}
	.announce-card {
		.date {
			position: relative;
			top: -128px;
			right: -16px;
		}
		width: 343px;
		height: 111px;
		background: #ffffee;
		opacity: 1;
		text-align: left;
		padding-right: 10px;
		background-blend-mode: multiply;
		background-size: auto;
	}
	.openn {
		background-color: $background-color_3;
		width: 343px;
		height: 111px;
		text-align: left;
		opacity: 1;
	}
	.files {
		font-size: 12px;
		letter-spacing: 0px;
		color: $color_1;
		margin: 10px;
		position: relative;
		top: 1px;
		right: 24px;
	}
	.instructor {
		font-size: 12px;
		letter-spacing: 0px;
		color: $color_1;
		margin: 10px;
		margin-top: 15px;
	}
	.paperclip {
		position: relative;
		top: 7px;
		right: -2px;
		width: 14px;
		height: 20px;
	}
	.an-btn {
		display: flex;
		flex-direction: row;
		width: 354px;
		height: 48px;
		position: fixed;
		top: 535px;
		left: 305px;
		background: #ffffff;
		box-shadow: 2px 5px #888888;
		border-radius: 0px 0px 2px 2px;
		opacity: 1;
		z-index: 1;
	}
	.create-announce {
		letter-spacing: -0.35px;
		background-color: $background-color_3;
		color: $color_2;
		width: 50%;
		border: none;
		text-transform: uppercase;
	}
	.expand-announce {
		letter-spacing: -0.35px;
		text-transform: uppercase;
		border: none;
		background-color: $background-color_3;
		color: $color_2;
		width: 50%;
	}
	.part {
		position: absolute;
		top: 15px;
		left: 170px;
	}
	.hamburger-menu {
		display: inline;
		&:hover {
			+ {
				.dropdown-menu {
					display: block;
				}
			}
		}
	}
	.menu {
		display: none;
		position: absolute;
		top: 49px;
		left: 469px;
		width: 280px;
		height: 244px;
		background: #ffffff;
		box-shadow: 0px 13px 20px #0000003d;
		border-radius: 2px;
		opacity: 1;
	}
	.item {
		margin-bottom: 0%;
		text-decoration: none;
		color: $color_4;
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		position: absolute;
		top: 16px;
		right: 172px;
		width: 85px;
		height: 18px;
		text-align: left;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
	.item1 {
		margin-bottom: 0%;
		text-decoration: none;
		color: $color_4;
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		position: absolute;
		top: 55px;
		right: 171px;
		width: 85px;
		height: 18px;
		text-align: left;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
	.drop-down {
		margin-bottom: 0%;
		text-decoration: none;
		color: $color_4;
		font-weight: 500;
		text-transform: uppercase;
		display: inline;
		position: absolute;
		top: 96px;
		right: 150px;
		width: 85px;
		height: 18px;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
	.drop-down1 {
		margin-bottom: 0%;
		text-decoration: none;
		color: $color_4;
		font-weight: 500;
		text-transform: uppercase;
		display: inline;
		position: absolute;
		top: 96px;
		right: 78px;
		width: 85px;
		height: 18px;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
	.sep {
		background-color: $background-color_10;
		height: 50px;
		position: absolute;
		top: -5px;
		right: -1px;
	}
	.arrow {
		position: absolute;
		top: 54px;
		right: 32px;
	}
	.arrow1 {
		position: absolute;
		top: 129px;
		right: 32px;
	}
	.arrow2 {
		position: absolute;
		top: 164px;
		right: 32px;
	}
	.arrow3 {
		position: absolute;
		top: 198px;
		right: 32px;
	}
	.item2 {
		margin-bottom: 0%;
		text-decoration: none;
		color: $color_4;
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		position: absolute;
		top: 132px;
		right: 168px;
		width: 85px;
		height: 18px;
		text-align: left;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
	.item3 {
		margin-bottom: 0%;
		text-decoration: none;
		color: $color_4;
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		position: absolute;
		top: 164px;
		right: 168px;
		width: 85px;
		height: 18px;
		text-align: left;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
	.item4 {
		margin-bottom: 0%;
		text-decoration: none;
		color: $color_4;
		font-weight: 500;
		text-transform: uppercase;
		display: block;
		position: absolute;
		top: 198px;
		right: 167px;
		width: 85px;
		height: 18px;
		text-align: left;
		letter-spacing: 0px;
		color: $color_2;
		opacity: 1;
	}
	.card-section {
		display: flex;
		flex-direction: column;
	}
	.left {
		margin-left: 0px;
	}
}
