$color_1: white;
$color_2: #666666;
$color_3: #000;
$background-color_1: #eeeeee;
$background-color_2: #222427d0;
$background-color_3: #3C4E62;
$background-color_4: #3fd28b;
$background-color_5: grey;
$background-color_6: gray;
$background-color_7: #fff;
$background-color_8: transparent;
$background-color_9: #DBEFFF;
$background-color_10: #eee;
$background-color_11: #ccc;
$background-color_12: #1F7A54;

@font-face {
	font-family: quicksand;
	src: url("../Quicksand-VariableFont_wght.ttf");
}



@font-face {
	src: url("../Quicksand-VariableFont_wght.ttf");
	font-family: Quicksand;
  }
  
  
  /* body, html {
	box-sizing: border-box;
	margin: 0px;
	padding: 0px;
	font-family: Quicksand, "Helvetica Neue";
  } */
  
  
  body {
	background-color: #EEEEEE;
  }
  
  * {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
  }
  
  .nav {
	background-color: #25313F;
	padding: 10px 40px;
	border-bottom: 2px solid #31B9E4;
  }
  
  
  /************************************************************************************************************************************************/
  
  
  .starter {
	background: #3C4E62;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 20px;
  }
  
  .back {
	width: 30px;
	cursor: pointer;
  }
  
  
  .head {
	color: #fff;
	font-size: medium;
	font-family: Quicksand-SemiBold; 
  }
  
  
  .button {
	display: flex;
	gap: 10px;
  }
  
  /* Style for all the 3 green buttons in the page */
  .btn {
	background-color: #3FD28B;
	font-family: Quicksand-SemiBold;
	margin: 0;
	padding: 10px 30px;
	border-radius: 4px;
	text-align: center;
	outline: none;
	border: none;
  }
  
  .disabled {
	filter: opacity(0.7);
  }
  
  
  @media screen and (max-width: 500px) {
	.btn{
		width: 60px;
		font-size: small;
	}
	.head{
		font-size: small;
	}
  }
  
  @media screen and (min-width: 700px) {
	.head-div{
		position: relative;
		right: -5%;
	}
  }
  
  /************************************************************************************************************************************************/
  
  .taskbar{
	margin: 24px;
	background-color: #FFFFFF;
	padding: 0px 20px;
	display: flex;
	justify-content: space-between;
	align-items: center;
  }
  
  /* round circle for numbers in taskbar */
  .round1 {
	background-color: #757575;
	color: #FFFFFF;
	border-radius: 50%;
	height: 30px;
	width: 30px;
	padding-top: 5px;
	font-size: 18px;
	font-weight:500;
	text-align: center;
	vertical-align: bottom;
  }
  
  .task1 {
	display: flex;
	align-items: center;
	margin-top: 10px;
	margin-bottom: 10px;
  }
  
  .active {
	background-color: #3FD28B; /* Active color */
	color: #333333;
  }
  
  
  .round-text{
	font-family: Quicksand-SemiBold;
	margin-left: 10px;
	font-size: large;
  }
  
  .line {
	width: 24%;
	background-color: #EFEFEF;
	border: 1px solid rgba(117, 117, 117, 0.4);
	border-radius: 5px;
  }
  
  @media screen and (min-width: 750px) {
	.taskbar{
		display: flex;
		justify-content: space-between;
	}
  }
  
  
  /************************************************************************************************************************************************/
  
  
  
  .mb-4 {
	margin-bottom: 10px;
  }
  
  .mb-5 {
	margin-bottom: 30px;
  }
  
  .shadow {
	box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.4);
  }
  
  .visible {
	display: block;
  }
  
  .hidden {
	display: none;
  }
  
  .ver-align {
	display: flex;
	align-items: center;
  }
  
  label {
	display: block;
  }
  
  .left-space {
	margin-left: 10px;
  }
  
  .limit {
	width: 50%;
  }
  
  /************************************************************************************************************************************************/
  
  
  
  
  .main{
	background-color: #EEEEEE;
	min-height: calc( 100vh - 101px );
	padding-top: 4px;
  }
  
  .qualification{
	padding: 0px 24px;
	margin-bottom: 25px;
  }
  
  .qualification-header{
	min-height: 56px;
	background-color: #DBEFFF;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding-left:15px;
	padding-right: 10px;
  }
  
  .qualification-detail{
	background-color: #FFFFFF;
	padding: 25px;
	
  }
  
  .first-details{
	display: flex;
  }
  .education-title{
	font-family: Quicksand-SemiBold;
	margin-left: 10px;
	margin-top: 10px;
	font-size: large;
  }
  .vertical-line {
	border-left: 1px solid #A4B3BF;
	height: 56px;
	margin-left: auto;
	margin-right: 5px;
  }
  .expand{
	height: 30px;
	cursor: pointer;
  }
  
  .left-content,.right-content,.half1,.half2,.left-side,.right-side{
	flex: 1;
  }
  .half-content{
	display: flex;
  }
  
  .form-control{
	border: none;
	border-bottom: 2px solid #CECECE;
	width: 100%;
  }
  .form-label{
	color: #747474;
	font-family: Quicksand-SemiBold;
  }
  
  .button-container{
	display: flex;
	align-items: center;
	justify-content: center;
	gap: 20px;
	margin: 20px 0;
  }
  
  .btn{
	background-color: #3FD28B;
	font-family: Quicksand-SemiBold;
	width: 100px;
	border-radius: 4px;
	text-align: center;
	margin: 20px 0px;
  }
  
  .education2{
	display: flex;
	gap: 20px;
  }
  
  .radio-container{
	display:flex;
	align-items: center;
	gap: 15px;
  }
  .radio-btn{
	width:20px;
	height:20px;
	border: 2px solid #0D6EFD;
  }
  .form-check-label{
	font-family: Quicksand-SemiBold;
	margin-left: 5px;
  }
  
  .check{
	display:flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 10px;
  }
	
  .check-btn{
	width:20px;
	height:20px;
	margin-right:7px;
	accent-color: #197f54;
	cursor: pointer;
	
  }
  
  .remember{
	font-family: Quicksand-SemiBold;
	margin-top: 2px;
  }