
// dashboard

$white-filter:    'filter: brightness(0) invert(1)';
$green-filter:    'filter: invert(44%) sepia(94%) saturate(1028%) hue-rotate(95deg) brightness(104%) contrast(101%)';
$background: #ffffff;
$primary-green: #1F7A54;
$notification :rgb(12, 170, 227);
$background-secondary: #eeeeee;



// $
// $
// $
// $
// $
// $
// $
// $
// $
// $