* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
  
  @font-face {
    font-family: quicksand;
    src: url(../../Quicksand-VariableFont_wght.ttf);
  }
  header {
    background-image: url("../../assets1/quantum screen assets/header pattern svg.svg");
    background-color: rgb(42, 62, 78);
    padding: 8px 8px 8px 20px;
    border-bottom: 3px solid rgb(100, 197, 235);
    background-blend-mode: multiply; 
  
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 9999;
  }
  
 