@font-face {
  font-family: quicksand;
  src: url(../Quicksand-VariableFont_wght.ttf);
}
/* .navbar {
    border-top: 4px solid rgb(29, 157, 231);
  } */
/* .phone-input-container {
  display: inline-block;
  padding: 5px;
  border-radius: 5px;
  background-color: #f0f0f0;
}

.phone-input {
  border: 1px solid #ccc;
  outline: none;
  padding: 2px;
  font-size: 16px;
} */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

nav {
  border-bottom: 3px solid rgb(29, 157, 231);
}

.header {
  background-image: url("/assets1/quantum screen assets/header pattern svg.svg");
  background-color: rgba(34, 36, 39, 0.8156862745);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 1024px;
  height: 56px;
  background: transparent url("/assets1/quantum screen assets/header pattern svg.svg") 0% 0% no-repeat padding-box;
  opacity: 0.5;
  width: 1024px;
  height: 56px;
}

.title {
  height: 56px;
  background-color: #3C4E62;
  opacity: 0.9;
}

.head-btns {
  padding: 5px;
  margin: 5px;
  background-color: #3fd28b;
  border-radius: 0px;
}

.create-title {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.page-no {
  height: 56px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  margin: 29px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}

.circle {
  border-radius: 37px;
  padding: -2px;
  margin: 14px 4px;
  width: 32px;
  height: 32px;
  background: #3FD28B 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
}

.line {
  background-color: grey;
  width: 394px;
  height: 1px;
  display: block;
  position: relative;
  top: -29px;
  left: 219px;
}

.gray {
  background-color: gray;
}

.main {
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  margin: 29px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
}

.input-fields {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-left: 0px;
  padding-bottom: 20px;
  width: 50%;
  margin: 0px 20px;
}
.input-fields label {
  margin: 10px;
  font-size: 12px;
  color: #666666;
}
.input-fields input {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #666666;
  margin: 8px;
}

input::-moz-placeholder {
  padding-left: -1px;
  font-size: 1.2em;
  font-weight: 500;
  color: #000;
}

input::placeholder {
  padding-left: -1px;
  font-size: 1.2em;
  font-weight: 500;
  color: #000;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 20px;
  font-weight: 500;
}
.remember-me input {
  margin-right: 8px;
}

.check-list {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  font-weight: 500;
}

.upload {
  filter: invert(44%) sepia(94%) saturate(1028%) hue-rotate(95deg) brightness(104%) contrast(101%);
}

.phone-ele {
  display: flex;
  flex-direction: row;
}

.flex-contain {
  display: flex;
  flex-direction: row;
}

.profile {
  width: 50%;
  margin-left: 25%;
}

.green {
  color: #1F7A54;
}/*# sourceMappingURL=register.css.map */