@font-face {
  font-family: quicksand;
  src: url(../Quicksand-VariableFont_wght.ttf);
}
/* .navbar {
    border-top: 4px solid rgb(29, 157, 231);
  } */
/* .secondd .custom-select{
  border-bottom: 2px solid #ccc;

  margin: 8px;
  border: none;
  box-shadow: 0px 13px 20px 0px #0000003d;
  width: 50%;
  border: none;
background-color: transparent;
appearance: none; 
outline: none;
  padding: 5px 18px;
  margin-right: 55px;
} */
/* Hide the browser's default checkbox */
/* Create a custom checkbox */
/* On mouse-over, add a grey background color */
/* When the checkbox is checked, add a blue background */
/* Create the checkmark/indicator (hidden when not checked) */
/* Show the checkmark when checked */
/* Style the checkmark/indicator */
/* Hide the browser's default radio button */
/* Create a custom radio button */
/* On mouse-over, add a grey background color */
/* When the radio button is checked, add a blue background */
/* Create the indicator (the dot/circle - hidden when not checked) */
/* Show the indicator (dot/circle) when checked */
/* Style the indicator (dot/circle) */
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #eeeeee;
}

nav {
  border-bottom: 3px solid rgb(29, 157, 231);
}

.header {
  background-image: url("../assets1/quantum screen assets/header pattern svg.svg");
  background-color: rgba(34, 36, 39, 0.8156862745);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
  width: 1024px;
  height: 56px;
  background: transparent url("../assets1/quantum screen assets/header pattern svg.svg") 0% 0% no-repeat padding-box;
  opacity: 0.5;
  width: 1024px;
  height: 56px;
}

.title {
  height: 56px;
  background-color: #3C4E62;
  opacity: 0.9;
}

.head-btns {
  padding: 5px;
  margin: 5px;
  background-color: #3fd28b;
  border-radius: 0px;
}

.create-title {
  font-size: 18px;
  color: white;
  font-weight: 400;
}

.page-no {
  height: 56px;
  background: #ffffff 0% 0% no-repeat padding-box;
  border-radius: 2px;
  opacity: 1;
  margin: 29px;
  box-shadow: 0px 13px 20px rgba(0, 0, 0, 0.2392156863);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0px 20px;
}

.circle {
  border-radius: 37px;
  padding: -2px;
  margin: 14px 4px;
  width: 32px;
  height: 32px;
  background: #3FD28B 0% 0% no-repeat padding-box;
  opacity: 1;
  border: none;
}

.line {
  background-color: grey;
  width: 394px;
  height: 1px;
  display: block;
  position: relative;
  top: -29px;
  left: 219px;
}

.gray {
  background-color: gray;
}

.main {
  border-radius: 2px;
  opacity: 1;
  margin: 29px;
}

.input-fields {
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-left: 0px;
  padding-bottom: 20px;
  width: 50%;
  margin: 0px 20px;
}
.input-fields label {
  margin: 10px;
  font-size: 12px;
  color: #666666;
}
.input-fields input {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #666666;
  margin: 8px;
}

.input-field {
  background: #ffffff 0% 0% no-repeat padding-box;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  border: none;
  padding-left: 0px;
  padding-bottom: 20px;
  margin: 0px 20px;
}
.input-field input {
  width: 100%;
  padding: 5px;
  border: none;
  background-color: #fff;
  border-bottom: 1px solid #666666;
  margin: 8px;
}

input::-moz-placeholder {
  padding-left: -1px;
  font-size: 1.2em;
  font-weight: 500;
  color: #000;
}

input::placeholder {
  padding-left: -1px;
  font-size: 1.2em;
  font-weight: 500;
  color: #000;
}

.remember-me {
  display: flex;
  align-items: center;
  margin-bottom: 15px;
  padding: 20px;
  font-weight: 500;
}
.remember-me input {
  margin-right: 8px;
}

.check-list {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  padding: 10px;
  font-weight: 500;
}

.upload {
  filter: invert(44%) sepia(94%) saturate(1028%) hue-rotate(95deg) brightness(104%) contrast(101%);
}

.phone-ele {
  display: flex;
  flex-direction: row;
}
.phone-ele input {
  width: -moz-min-content;
  width: min-content;
}

.custom-select {
  border-bottom: 2px solid #ccc;
  padding: 5px 8px;
  margin-right: 25px;
  margin: 8px;
  border: none;
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.2392156863);
  width: 50%;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
}

.custom-icon {
  position: relative;
  top: 10px;
  left: -43px;
  transform: translateY(-50%);
  pointer-events: none;
}

.secondd {
  display: flex;
  flex-direction: row;
  width: 100%;
  margin: 8px;
  border: none;
  background: #ffffff 0% 0% no-repeat padding-box;
  padding-left: 0px;
  padding-bottom: 20px;
  margin: 0px 20px;
}

.flex-item {
  width: 50%;
  padding: 20px;
}

.accordion {
  margin-bottom: 25px;
}

.accordion-header {
  background-color: #DBEFFF;
  border: none;
  height: 50px;
}

.accordion-button {
  background-color: #DBEFFF;
  border: none;
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.2392156863);
}

.foot-btns {
  padding: 5px;
  margin: 5px;
  background-color: #3fd28b;
  border-radius: 0px;
}

.label-check {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.label-check input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}
.label-check input:checked ~ .checkmark {
  background-color: #1F7A54;
}
.label-check input:checked ~ .checkmark:after {
  display: block;
}
.label-check:hover input ~ .checkmark {
  background-color: #ccc;
}
.label-check .checkmark:after {
  left: 9px;
  top: 5px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  transform: rotate(45deg);
}

.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
}
.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-radio {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 16px;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none;
}
.custom-radio input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
}
.custom-radio input:checked ~ .checkmarked {
  background-color: #1F7A54;
}
.custom-radio input:checked ~ .checkmarked:after {
  display: block;
}
.custom-radio:hover input ~ .checkmarked {
  background-color: #ccc;
}
.custom-radio .checkmarked:after {
  top: 7px;
  left: 7px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  background: white;
}

.checkmarked {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 50%;
}
.checkmarked:after {
  content: "";
  position: absolute;
  display: none;
}

.radio-btns {
  display: flex;
  flex-direction: row;
}

.custom-input input {
  border-bottom: 2px solid #ccc;
  padding: 5px 8px;
  margin-right: 25px;
  margin: 8px 0px;
  border: none;
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.2392156863);
  width: 50%;
  border: none;
  background-color: transparent;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: none;
  border-bottom: 1px solid gray;
}

.flex-contain {
  display: flex;
  flex-direction: row;
  box-shadow: 0px 13px 20px 0px rgba(0, 0, 0, 0.2392156863);
}

.profile {
  margin-left: 25%;
}

.green {
  color: #1F7A54;
}/*# sourceMappingURL=review.css.map */